body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}
.big-box{
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; 避免超出螢幕寬度 */
  width: 95%;
  max-width: 1440px; /* 設定最大寬度 */
  margin: 0 auto;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}
.title{
  font-size: 3rem;
  margin-bottom: 100px;
  font-weight: bolder;
}
.App {
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* flex-wrap: wrap; 避免超出螢幕寬度 */
  width: 95%;
  max-width: 1440px; /* 設定最大寬度 */
  margin: 0 auto;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: blueviolet;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 100%;
  max-width: 340px;
  background-color: rgba(255,255,255,0.1);
  
  padding: 20px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  backdrop-filter: blur(10px);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
